<!DOCTYPE html>
<html  lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="icon" href="{{ asset('assets/images/favicon.ico')  }}">

        <!-- CSS
            ============================================ -->

        <!-- Bootstrap Css -->
        <link rel="stylesheet" href="{{ asset('assets/css/vendor/bootstrap.min.css')  }}">

        <!-- Icons Css -->
        <link rel="stylesheet" href="{{ asset('assets/css/vendor/linearicons.min.css')  }}">
        <link rel="stylesheet" href="{{ asset('assets/css/vendor/fontawesome-all.min.css')  }}">

        <!-- Animation Css -->
        <link rel="stylesheet" href="{{ asset('assets/css/plugins/animation.min.css')  }}">

        <!-- Slick Slier Css -->
        <link rel="stylesheet" href="{{ asset('assets/css/plugins/slick.min.css')  }}">

        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/plugins/magnific-popup.css')  }}">

        <!-- Easyzoom CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/plugins/easyzoom.css')  }}">

        <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->
        <!-- 
            <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
            <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
        -->
        <!-- Main Style CSS -->
            <link rel="stylesheet" href="{{ asset('assets/css/style.css')  }}">
            {# <link rel="stylesheet" href="{{ asset('customs/custom.js')  }}"> #}
           
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        
    </head>
    <body clas="" >
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
         <!-- JS ============================================ -->
        <script src="{{ asset('assets/js/vendor/modernizr-2.8.3.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/fullpage.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/slick.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/countdown.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/magnific-popup.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/easyzoom.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/images-loaded.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/isotope.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/YTplayer.js') }}"></script>
        {# <script src="{{ asset('assets/js/plugins/jquery.instagramfeed.min.js') }}"></script> #}
        <script src="{{ asset('assets/js/plugins/ajax.mail.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/wow.min.js') }}"></script>
        <!-- Main JS -->
        <script src="{{ asset('assets/js/main.js') }}"></script>
        
    </body>
</html>
