<div class="footer-area-wrapper bg-gray">
    <div class="footer-area section-space--ptb_120">
        <div class="container">
            <div class="row footer-widget-wrapper">
                <div class="col-lg-4 col-md-4 col-sm-6 footer-widget">
                    <h6 class="footer-widget__title mb-20">Address</h6>
                    <ul class="footer-widget__list">
                        <li><i class="icon_pin"></i> Helendo, Chicago, USA 2018</li>
                        <li> <i class="icon_phone"></i><a href="tel:846677028028" class="hover-style-link">+846677028028</a></li>

                    </ul>
                    <ul class="list footer-social-networks mt-25">

                        <li class="item">
                            <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                                <i class="social social_facebook"></i>
                            </a>
                        </li>
                        <li class="item">
                            <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                                <i class="social social_twitter"></i>
                            </a>
                        </li>
                        <li class="item">
                            <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                                <i class="social social_tumblr"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 footer-widget">
                    <h6 class="footer-widget__title mb-20">Help & Information</h6>
                    <ul class="footer-widget__list">
                        <li><a href="#" class="hover-style-link">Help & Contact Us</a></li>
                        <li><a href="#" class="hover-style-link">Returns & Refunds</a></li>
                        <li><a href="#" class="hover-style-link">Online Stores</a></li>
                        <li><a href="#" class="hover-style-link">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 footer-widget">
                    <h6 class="footer-widget__title mb-20">About Us</h6>
                    <ul class="footer-widget__list">
                        <li><a href="about-us.html" class="hover-style-link">About Us</a></li>
                        <li><a href="#" class="hover-style-link">What We Do</a></li>
                        <li><a href="#" class="hover-style-link">FAQ Page</a></li>
                        <li><a href="contact-us.html" class="hover-style-link">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 footer-widget">
                    <h6 class="footer-widget__title mb-20">Newsletter</h6>
                    <div class="footer-widget__newsletter mt-30">
                        <input type="text" placeholder="Your email address">
                        <button class="submit-button"><i class="icon-arrow-right"></i></button>
                    </div>
                    <ul class="footer-widget__footer-menu  section-space--mt_60 d-none d-lg-block">
                        <li><a href="#">Term & Condition</a></li>
                        <li><a href="#">Policy</a></li>
                        <li><a href="#">Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright-area section-space--pb_30">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-5 text-center text-md-left">
                    <ul class="footer-widget__footer-menu">
                        <li><a href="#">Term & Condition</a></li>
                        <li><a href="#">Policy</a></li>
                        <li><a href="#">Map</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-2 text-center">
                    <div class="footer-logo">
                        <a href="#"><img src="assets/images/logo/logo.svg" alt="Logo images"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 order-md-3">
                    <div class="footer-bottom-social">
                        <h6 class="title">Follow Us On Social</h6>
                        <ul class="list footer-social-networks ">
                            <li class="item">
                                <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                                    <i class="social social_facebook"></i>
                                </a>
                            </li>
                            <li class="item">
                                <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                                    <i class="social social_twitter"></i>
                                </a>
                            </li>
                            <li class="item">
                                <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                                    <i class="social social_tumblr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <span class="copyright-text text-center  section-space--mt_40">&copy; 2020 Helendo. <a href="https://hasthemes.com/" target="_blank">All Rights Reserved.</a></span>
                </div>
            </div>
        </div>
    </div>
</div>