<header class="header-area header_absolute header_height-90 header-sticky">
    <div class="container-fluid container-fluid--cp-60">
        <div class="row align-items-center">

            <div class="col-lg-4 col-md-4 col-6 ">
                <div class="logo d-block d-lg-none">
                    <a href="/"><img src="assets/images/logo/logo.svg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-6">
                <div class="header-right-side text-right">
                    <div class="header-right-items  d-none d-md-block">
                        <a href="#" data-toggle="modal" data-target="#exampleModal">
                            <i class="icon-user"></i>
                        </a>
                    </div>
                    <div class="header-right-items d-none d-md-block">
                        <a href="#" class="header-cart">
                            <i class="icon-heart"></i>
                            <span class="item-counter">3</span>
                        </a>
                    </div>

                    <div class="header-right-items">
                        <a href="#miniCart" class=" header-cart minicart-btn toolbar-btn header-icon">
                            <i class="icon-bag2"></i>
                            <span class="item-counter">3</span>
                        </a>
                    </div>
                    <div class="header-right-items d-block d-md-none">
                        <a href="javascript:void(0)" class="search-icon" id="search-overlay-trigger">
                            <i class="icon-magnifier"></i>
                        </a>
                    </div>
                    <div class="header-right-items">
                        <a href="#" class="mobile-navigation-icon" id="mobile-menu-trigger">
                            <i class="icon-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>