<div class="header-left-sidebar">
    <div class="header-left-sidebar__content">
        <div class="header-left-sidebar__content-header">
            
        </div>
        <div class="header-left-sidebar__content-body">
            <div class="logo">
                <a href="#">
                    <img src="http://via.placeholder.com/200x150" alt="logo">
                    {# <img src="assets/images/logo/logo.svg" alt=""> #}
                </a>
            </div>
            <div class="mobile-menu-overlay__body pl-0 pr-0">
                <nav class="offcanvas-navigation mt-30">
                    <ul>
                        <li class="has-children">
                            <a href="#">Home</a>
                            <ul class="sub-menu">
                                <li><a href="/"><span>Home V1 – Default</span></a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Shop</a>
                            <ul class="sub-menu">
                                <!-- tienda -->
                                <li class="has-children">
                                    <a href="#"><span>Shop Pages</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="shop-3-column.html"><span>Shop 3 Columns</span></a></li>
                                    </ul>
                                </li>
                                <!-- producto -->
                                <li class="has-children">
                                    <a href="#"><span>Product Pages</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="#"><span>Default</span></a></li>
                                    </ul>
                                </li>
                                <!-- otras paginas -->
                                <li class="has-children">
                                    <a href="#"><span>Other Pages</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="cart.html"><span>Cart</span></a></li>
                                        <li><a href="checkout.html"><span>Checkout</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="about-us.html"><span>About Us</span></a></li>
                                <li><a href="contact-us.html"><span>Contact</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>            
            </div>
        </div>
        <div class="header-left-sidebar__content-footer">
            <div class="slidebar-newsletter section-space--mt_60 border-top">
                <h5 class="section-space--mt_60">Newsletter</h5>
                <div class="newsletter-slidebar-box mt-30">
                    <input type="text" placeholder="Your email address">
                    <button class="submit-button"><i class="icon-arrow-right"></i></button>
                </div>
            </div>
            <div class="mobile-menu-social-share section-space--mt_60">
                <p>Follow US On Socials</p>
                <ul class="social-share">
                    <li><a href="#"><i class="social social_facebook"></i></a></li>
                    <li><a href="#"><i class="social social_twitter"></i></a></li>
                    <li><a href="#"><i class="social social_googleplus"></i></a></li>
                    <li><a href="#"><i class="social social_linkedin"></i></a></li>
                    <li><a href="#"><i class="social social_pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>