<!-- Modal -->
<div class="product-modal-box modal fade" id="prodect-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-cross" aria-hidden="true"></span></button>
            </div>
            <div class="modal-body container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="quickview-product-active mr-lg-5">
                            <a href="#" class="images">
                                <img src="assets/images/product/2-570x570.jpg" class="img-fluid" alt="">
                            </a>
                            <a href="#" class="images">
                                <img src="assets/images/product/3-600x600.jpg" class="img-fluid" alt="">
                            </a>
                            <a href="#" class="images">
                                <img src="assets/images/product/4-768x768.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <!-- Thumbnail Large Image End -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="product-details-content quickview-content-wrap ">

                            <h5 class="font-weight--reguler mb-10">Teapot with black tea</h5>
                            <div class="quickview-ratting-review mb-10">
                                <div class="quickview-ratting-wrap">
                                    <div class="quickview-ratting">
                                        <i class="yellow icon_star"></i>
                                        <i class="yellow icon_star"></i>
                                        <i class="yellow icon_star"></i>
                                        <i class="yellow icon_star"></i>
                                        <i class="yellow icon_star"></i>
                                    </div>
                                    <a href="#"> 2 customer review</a>
                                </div>
                            </div>
                            <h3 class="price">£59.99</h3>

                            <div class="stock in-stock mt-10">
                                <p>Available: <span>In stock</span></p>
                            </div>

                            <div class="quickview-peragraph mt-10">
                                <p>At vero accusamus et iusto odio dignissimos blanditiis praesentiums dolores molest.</p>
                            </div>


                            <div class="quickview-action-wrap mt-30">
                                <div class="quickview-cart-box">
                                    <div class="quickview-quality">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="0">
                                        </div>
                                    </div>

                                    <div class="quickview-button">
                                        <div class="quickview-cart button">
                                            <a href="#" class="btn--lg btn--black font-weight--reguler text-white">Add to cart</a>
                                        </div>
                                        <div class="quickview-wishlist button">
                                            <a title="Add to wishlist" href="#"><i class="icon-heart"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="product_meta mt-30">
                                <div class="sku_wrapper item_meta">
                                    <span class="label"> SKU: </span>
                                    <span class="sku"> 502 </span>
                                </div>
                                <div class="posted_in item_meta">
                                    <span class="label">Categories: </span><a href="#">Furniture</a>, <a href="#">Table</a>
                                </div>
                                <div class="tagged_as item_meta">
                                    <span class="label">Tag: </span><a href="#">Pottery</a>
                                </div>
                            </div>

                            <div class="product_socials section-space--mt_60">
                                <span class="label">Share this items :</span>
                                <ul class="helendo-social-share socials-inline">
                                    <li>
                                        <a class="share-twitter helendo-twitter" href="#" target="_blank"><i class="social_twitter"></i></a>
                                    </li>
                                    <li>
                                        <a class="share-facebook helendo-facebook" href="#" target="_blank"><i class="social_facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="share-google-plus helendo-google-plus" href="#" target="_blank"><i class="social_googleplus"></i></a>
                                    </li>
                                    <li>
                                        <a class="share-pinterest helendo-pinterest" href="#" target="_blank"><i class="social_pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a class="share-linkedin helendo-linkedin" href="#" target="_blank"><i class="social_linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->
<!-- Modal -->
<div class="header-login-register-wrapper modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-box-wrapper">
                <div class="helendo-tabs">
                    <ul class="nav" role="tablist">
                        <li class="tab__item nav-item active">
                            <a class="nav-link active" data-toggle="tab" href="#tab_list_06" role="tab">Login</a>
                        </li>
                        <li class="tab__item nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_list_07" role="tab">Our Register</a>
                        </li>

                    </ul>
                </div>
                <div class="tab-content content-modal-box">
                    <div class="tab-pane fade show active" id="tab_list_06" role="tabpanel">
                        <form action="#" class="account-form-box">
                            <h6>Login your account</h6>
                            <div class="single-input">
                                <input type="text" placeholder="Username">
                            </div>
                            <div class="single-input">
                                <input type="password" placeholder="Password" autocomplete="on">
                            </div>
                            <div class="checkbox-wrap mt-10">
                                <label class="label-for-checkbox inline mt-15">
                                    <input class="input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Remember me</span>
                                </label>
                                <a href="#" class=" mt-10">Lost your password?</a>
                            </div>
                            <div class="button-box mt-25">
                                <a href="#" class="btn btn--full btn--black">Log in</a>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="tab_list_07" role="tabpanel">

                        <form action="#" class="account-form-box">
                            <h6>Register An Account</h6>
                            <div class="single-input">
                                <input type="text" placeholder="Username">
                            </div>
                            <div class="single-input">
                                <input type="text" placeholder="Email address">
                            </div>
                            <div class="single-input">
                                <input type="password" placeholder="Password" autocomplete="on">
                            </div>
                            <p class="mt-15">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#" class="privacy-policy-link" target="_blank">privacy policy</a>.</p>
                            <div class="button-box mt-25">
                                <a href="#" class="btn btn--full btn--black">Register</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!--====================  mobile menu overlay ====================-->

{% include "base/mobilemenu.html.twig" %}
<!--====================  End of mobile menu overlay  ====================-->



<!--  offcanvas Minicart Start -->
<div class="offcanvas-minicart_wrapper" id="miniCart">
    <div class="offcanvas-menu-inner">
        <div class="close-btn-box">
            <a href="#" class="btn-close"><i class="icon-cross2"></i></a>
        </div>
        <div class="minicart-content">
            <ul class="minicart-list">
            {% for i in 0..2 %}
                <li class="minicart-product">
                    <a class="product-item_remove" href="javascript:void(0)"><i class="icon-cross2"></i></a>
                    <a class="product-item_img">
                        <img class="img-fluid" src="assets/images/product/small/cart-01.jpg" alt="Product Image">
                    </a>
                    <div class="product-item_content">
                        <a class="product-item_title" href="shop-fullwidth.html">Plant pots</a>
                        <label>Qty : <span>1</span></label>
                        <label class="product-item_quantity">Price: <span> $20.00</span></label>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
        <div class="minicart-item_total">
            <span class="font-weight--reguler">Subtotal:</span>
            <span class="ammount font-weight--reguler">$60.00</span>
        </div>
        <div class="minicart-btn_area">
            <a href="cart.html" class="btn btn--full btn--border_1">View cart</a>
        </div>
        <div class="minicart-btn_area">
            <a href="checkout.html" class="btn btn--full btn--black">Checkout</a>
        </div>
    </div>
</div>
<!--  offcanvas Minicart End -->


<!--====================  search overlay ====================-->
<div class="search-overlay" id="search-overlay">

    <div class="search-overlay__header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-8">
                    <div class="search-title">
                        <h4 class="font-weight--normal">Search</h4>
                    </div>
                </div>
                <div class="col-md-6 ml-auto col-4">
                    <!-- search content -->
                    <div class="search-content text-right">
                        <span class="mobile-navigation-close-icon" id="search-close-trigger"><i class="icon-cross"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-overlay__inner">
        <div class="search-overlay__body">
            <div class="search-overlay__form">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 ml-auto mr-auto">
                            <form action="#">
                                <div class="product-cats section-space--mb_60 text-center">
                                    <label> <input type="radio" name="product_cat" value="" checked="checked"> <span class="line-hover">All</span> </label>
                                    <label> <input type="radio" name="product_cat" value="decoration"> <span class="line-hover">Decoration</span> </label>
                                    <label> <input type="radio" name="product_cat" value="furniture"> <span class="line-hover">Furniture</span> </label>
                                    <label> <input type="radio" name="product_cat" value="table"> <span class="line-hover">Table</span> </label> <label> <input type="radio" name="product_cat" value="chair"> <span class="line-hover">Chair</span> </label>
                                </div>
                                <div class="search-fields">
                                    <input type="text" placeholder="Search">
                                    <button class="submit-button"><i class="icon-magnifier"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--====================  End of search overlay  ====================-->


<!--====================  scroll top ====================-->
<a href="#" class="scroll-top" id="scroll-top">
    <i class="arrow-top icon-arrow-up"></i>
    <i class="arrow-bottom icon-arrow-up"></i>
</a>
<!--====================  End of scroll top  ====================-->