{% extends "base/base.html.twig" %}
{% block body %}
    <!--====================  header area ====================-->
    <div class="header-area header-area--default">

        <!-- Header Bottom Wrap Start -->
        {% include "base/header.html.twig" %}
        <!-- Header Bottom Wrap End -->

    </div>

    <!--====================  End of header area  ====================-->
    {% include "base/headerLeft.html.twig" %}

    <div class="page-template-template-home-left-sidebar">
        <div class="site-wrapper-reveal">
            <!-- Hero Slider Area Start -->
            <div class="hero-area hero-slider-four">
                <div class="single-hero-slider-four" data-title="01">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hero-content-wrap">
                                    <div class="hero-text-7 mt-lg-5">
                                        <h1>The Latest Collection <br>  Of Furniture</h1>

                                        <p class="mt-30">On the other hand, we denounce with righteous indignation and dislike <br>  men who are so beguiled and demoralized by the charms of pleasure</p>

                                        <div class="button-box section-space--mt_60">
                                            <a href="shop-left-sidebar.html" class="text-btn-normal font-weight--reguler font-lg-p">Discover now <i class="arrow_carrot-2right"></i></a>
                                        </div>
                                    </div>
                                    <div class="inner-images">
                                        <div class="image-one">
                                            <img src="assets/images/hero/home-left-sidebar-1.png" class="img-fluid" alt="Image">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="single-hero-slider-four" data-title="02">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hero-content-wrap">
                                    <div class="hero-text-7 mt-lg-5">
                                        <h6 class="mb-20">
                                            Helendo store
                                        </h6>
                                        <h1>Hailey <br> Wooden Chair</h1>

                                        <div class="button-box section-space--mt_60">
                                            <a href="shop-left-sidebar.html" class="text-btn-normal font-weight--reguler font-lg-p">Discover now <i class="arrow_carrot-2right"></i></a>
                                        </div>
                                    </div>
                                    <div class="inner-images">
                                        <div class="image-one">
                                            <img src="assets/images/hero/home-left-sidebar-2.png" class="img-fluid" alt="Image">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero Slider Area End -->



            <!-- Shopping Support Area Start -->
            <div class="shopping-support-area section-space--pt_60 mb-30 ">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-shopping-support">
                                <div class="icon">
                                    <i class="icon-phone-wave"></i>
                                </div>
                                <div class="content">
                                    <h6>Support 24/7</h6>
                                    <p>We are committed toserving you 24/7</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-shopping-support">
                                <div class="icon">
                                    <i class="icon-truck"></i>
                                </div>
                                <div class="content">
                                    <h6>Free Shipping</h6>
                                    <p>Free shipping international transport</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6s">
                            <div class="single-shopping-support">
                                <div class="icon">
                                    <i class="icon-tab"></i>
                                </div>
                                <div class="content">
                                    <h6>Free Returns</h6>
                                    <p>You can return the item within 30 days.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Shopping Support Area End -->


            <!-- About us Area Start -->
            <div class="about-us-home-area overflow-hidden">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="about-us-min-content ">
                                <div class="container-fluid pl-0 pr-0">
                                    <div class="row no-gutters align-items-center bg-gray">
                                        <div class="col-lg-7">
                                            <div class="about-us-content-4 ">
                                                <h5 class="mb-30">About Us</h5>
                                                <p class="pb-lg-5">Minimalist styling is not about creating a cold, hard, empty white box of a home. It is about using simple and natural forms, and taking away layers without losing the aesthetic appeal of the space. The focus is on shape, colour and texture, with a furniture and accessories.</p>
                                                <div class="button-box section-space--mt_60">
                                                    <a href="about-us.html" class="btn--text-icon">See more <i class="arrow_carrot-2right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="elendo-video-box">
                                                <div class="video-icon">
                                                    <a href="https://www.youtube.com/watch?v=fkoEj95puX0" class="popup-youtube"><i class="linear-ic-play"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About us Area End -->

            <!-- Banner Area Start -->
            <div class="banner-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner-images-one mt-30">
                                <a href="shop-left-sidebar.html" class="thumbnail">
                                    <img src="assets/images/banners/hl-sb-1.jpg" class="img-fluid" alt="Banner images">
                                </a>
                                <div class="banner-title">
                                    <h3><a href="shop-left-sidebar.html">Ritchie chair</a></h3>
                                    <h6>Chair collection</h6>
                                    <div class="button-box section-space--mt_60">
                                        <a href="#" class="text-btn-normal">Shop now <i class="icon-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="banner-images-one mt-30">
                                <a href="shop-left-sidebar.html" class="thumbnail">
                                    <img src="assets/images/banners/hl-sb-2.jpg" class="img-fluid" alt="Banner images">
                                </a>
                                <div class="banner-title">
                                    <h3><a href="shop-left-sidebar.html">Ritchie chair</a></h3>
                                    <h6>Chair collection</h6>
                                    <div class="button-box section-space--mt_60">
                                        <a href="#" class="text-btn-normal">Shop now <i class="icon-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner Area End -->

            <!-- Product Area Start -->
            <div class="product-wrapper section-space--ptb_120">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-center mb-20">
                                <h3 class="section-title">Best Selling Products</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 ">
                            <ul class="nav product-tab-menu justify-content-center" role="tablist">
                                <li class="tab__item nav-item active">
                                    <a class="nav-link active" data-toggle="tab" href="#tab_list_01" role="tab">All Products</a>
                                </li>
                                <li class="tab__item nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab_list_02" role="tab">Accessories</a>
                                </li>
                                <li class="tab__item nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab_list_03" role="tab">Chair</a>
                                </li>
                                <li class="tab__item nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab_list_04" role="tab">Decoration</a>
                                </li>
                                <li class="tab__item nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab_list_05" role="tab">Furniture</a>
                                </li>
                                <li class="tab__item nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab_list_08" role="tab">Table</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="tab-content mt-30">
                        <div class="tab-pane fade show active" id="tab_list_01">
                            <!-- product-slider-active -->
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_1-300x300.jpg" class="img-fluid" alt="Product Images">

                                                <span class="ribbon out-of-stock ">
                                                Out Of Stock
                                            </span>
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Teapot with black tea</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£40.00</span> - <span class="old-price"> £635.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                {# <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_2-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Teapot with black tea</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£20.00</span> - <span class="old-price"> £135.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_3-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Smooth Disk</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£46.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_4-300x300.jpg" class="img-fluid" alt="Product Images">

                                                <span class="ribbon onsale">
                                            -14%
                                            </span>
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Wooden Flowerpot</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£40.00</span> - <span class="old-price"> £635.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_5-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Living room & Bedroom lights</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£60.00</span> - <span class="old-price"> £69.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_6-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Gray lamp</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£80.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_7-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Decoration wood</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£50.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_8-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Teapot with black tea</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£20.00</span> - <span class="old-price"> £135.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div> #}
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_list_02">
                            <div class="row ">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_1-300x300.jpg" class="img-fluid" alt="Product Images">

                                                <span class="ribbon out-of-stock ">
                                                Out Of Stock
                                            </span>
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Teapot with black tea</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£40.00</span> - <span class="old-price"> £635.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                {# <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_9-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Teapot with black tea</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£20.00</span> - <span class="old-price"> £135.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div> #}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_list_03">
                            <div class="row ">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_2-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Simple Chair</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£40.00</span> - <span class="old-price"> £45.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                {# <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/10-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Gray nancy chair</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£70.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/11-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Wooden chair</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£80.00</span> - <span class="old-price"> £195.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div> #}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_list_04">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_1-300x300.jpg" class="img-fluid" alt="Product Images">

                                                <span class="ribbon out-of-stock ">
                                                Out Of Stock
                                            </span>
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Teapot with black tea</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£40.00</span> - <span class="old-price"> £635.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                {# <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_2-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Simple Chair</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£70.00</span> - <span class="old-price"> £95.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_3-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Smooth Disk</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£46.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_4-300x300.jpg" class="img-fluid" alt="Product Images">

                                                <span class="ribbon onsale">
                                            -14%
                                            </span>
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Wooden Flowerpot</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£40.00</span> - <span class="old-price"> £635.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_5-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Living room & Bedroom lights</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£60.00</span> - <span class="old-price"> £69.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_6-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Gray lamp</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£80.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_7-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Decoration wood</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£50.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_8-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Teapot with black tea</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£20.00</span> - <span class="old-price"> £135.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div> #}

                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_list_05">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_3-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Smooth Disk</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£46.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                {# <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_6-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Gray lamp</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£80.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_7-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Decoration wood</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£50.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_8-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Teapot with black tea</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£20.00</span> - <span class="old-price"> £135.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div> #}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_list_08">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_7-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Decoration wood</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£50.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                {# <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_8-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Teapot with black tea</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£20.00</span> - <span class="old-price"> £135.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_4-300x300.jpg" class="img-fluid" alt="Product Images">

                                                <span class="ribbon onsale">
                                            -14%
                                            </span>
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Wooden Flowerpot</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£40.00</span> - <span class="old-price"> £635.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="#" class="product-thumbnail">
                                                <img src="assets/images/product/1_5-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="#"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                                <a href="#"><i class="p-icon icon-heart"></i> <span class="tool-tip">Browse Wishlist</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="#">Living room & Bedroom lights</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£60.00</span> - <span class="old-price"> £69.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div> #}
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- Product Area End -->

            <div class="our-newsletter-area section-space--pb_120">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="newsletter--box">
                                <div class="row align-items-center">
                                    <div class="col-lg-5 col-md-4">
                                        <div class="section-title small-mb__40 tablet-mb__40">
                                            <h4 class="section-title">Get Discount 50% Off</h4>
                                            <p>Subscribe our newsletter and get discount 50% off</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-8">
                                        <div class="newsletter-wrap">
                                            <form action="#" class="newsletter--two">
                                                <input class="input-box" type="text" placeholder="Your email address">
                                                <button class="submit-btn"><i class="icon-arrow-right"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--====================  footer area ====================-->
        {% include "base/footer.html.twig" %}
        <!--====================  End of footer area  ====================-->
    </div>
    <!-- cosas varias -->
    {% include "base/random.html.twig" %}
    <!-- End of cosas varias -->
    


   

{% endblock %}